<link rel="stylesheet" href="/styles/index.css">

<ul>
  <li class="title"><a href="#">Seattle Shelter Cats</a></li>
  <li><a href="#">Your Favorites</a></li>
  <li><a href="/logout">Log Out</a></li>
</ul>

<div class="catprofile">
  <img class="profilepic" src= <%= res.locals.searchresults[res.locals.current_index]["image"] %> >

  <br>

  <p class="profilename"><%= res.locals.searchresults[res.locals.current_index]["name"] %></p>

  <br>

  <% next = parseInt(res.locals.current_index) + 1 %>
  <a class="button" href="/cats/<%=next%>">Next</a>

  <a class="button" href="/favorite?num=<%=res.locals.current_index%>&id=<%=res.locals.searchresults[res.locals.current_index]["id"]%>&user=<%=req.session.passport.user%>">Favorite</a>
  <br><br>
  userid goes here: <%=req.session.passport.user%>
</div>
