<link rel="stylesheet" href="/styles/index.css">

<ul>
  <li class="title"><a href="#">Seattle Shelter Cats</a></li>
  <li><a href="#">Your Favorites</a></li>
  <li><a href="/logout">Log Out</a></li>
</ul>

<div class="catprofile">
  <img class="profilepic" src= <%= res.locals.searchresults.pets[res.locals.current_index]["image"] %> >

  <br>

  <p class="profilename"><%= res.locals.searchresults.pets[res.locals.current_index]["name"] %></p>

  <br>

  <% next_index = parseInt(res.locals.current_index) + 1 %>
  <% next_offset = parseInt(res.locals.offset) + 25 %>

  <% if (next_index === res.locals.searchresults.pets.length) { %>
    <a class="button" href="/cats/<%=res.locals.zip%>/<%=next_offset%>/0">Next</a>
  <% } else { %>
    <a class="button" href="/cats/<%=res.locals.zip%>/<%=res.locals.offset%>/<%=next_index%>">Next</a>
  <% } %>

  <form action="/test" method="get">
    <input type="hidden" name="userid" value="<%=req.session.passport.user%>" />
    <input type="hidden" name="petfinderid" value="<%=res.locals.searchresults.pets[res.locals.current_index]["id"]%>" />
    <button>Favorite</button>
  </form>

</div>
