<link rel="stylesheet" href="/styles/index.css">

<ul>
  <li class="title"><a href="#">Seattle Shelter Cats</a></li>
  <li><a href="/favorites/<%=req.session.passport.user%>">Your Favorites</a></li>
  <li><a href="/logout">Log Out</a></li>
</ul>

<%- req.flash('message') %>

<div class="catprofile">
<!-- BEGIN BUTTON NAV -->
  <% next_index = parseInt(res.locals.current_index) + 1 %>
  <% next_offset = parseInt(res.locals.offset) + 25 %>

  <% if (next_index === res.locals.searchresults.pets.length) { %>
    <a href="/cats/<%=res.locals.zip%>/<%=next_offset%>/0">Next</a>
  <% } else { %>
    <a href="/cats/<%=res.locals.zip%>/<%=res.locals.offset%>/<%=next_index%>">Next</a>
  <% } %>

  <form action="/favorite" method="post">
    <input type="hidden" name="userid" value="<%=req.session.passport.user%>" />
    <input type="hidden" name="petfinderid" value="<%=res.locals.searchresults.pets[res.locals.current_index]["id"]%>" />
    <button>Favorite</button>
  </form>

  <% if (res.locals.details === undefined) { %>
    <a href="/cats/<%=res.locals.zip%>/<%=res.locals.offset%>/<%=res.locals.current_index%>?details=true">Show Details</a>
  <% } else { %>
    <a href="/cats/<%=res.locals.zip%>/<%=res.locals.offset%>/<%=res.locals.current_index%>">Close Details</a>
  <% } %>
<!--  BEGIN CAT NAME/PIC/DETAILS -->
  <% if (res.locals.details === undefined) { %>
    <img class="profilepic" src=<%= res.locals.searchresults.pets[res.locals.current_index]["image"] %> >
    <p class="profilename"><%= res.locals.searchresults.pets[res.locals.current_index]["name"] %></p>
  <% } else { %>
    <img class="profilepic" src=<%= res.locals.searchresults.pets[res.locals.current_index]["image"] %> >
    <%= res.locals.searchresults.pets[res.locals.current_index]["name"] %>
    <%= res.locals.searchresults.pets[res.locals.current_index]["sex"] %>
    <%= res.locals.searchresults.pets[res.locals.current_index]["breed"] %>
    <%= res.locals.searchresults.pets[res.locals.current_index]["description"] %>
    <%= res.locals.searchresults.pets[res.locals.current_index]["address"] %>
    <%= res.locals.searchresults.pets[res.locals.current_index]["city"] %>
    <%= res.locals.searchresults.pets[res.locals.current_index]["state"] %>
    <%= res.locals.searchresults.pets[res.locals.current_index]["zip"] %>
    <%= res.locals.searchresults.pets[res.locals.current_index]["phone"] %>
    <%= res.locals.searchresults.pets[res.locals.current_index]["email"] %>

  <% } %>

</div>
