<link rel="stylesheet" href="/styles/index.css">

<ul>
  <li class="title"><a href="#">Seattle Shelter Cats</a></li>
  <li><a href="#">Your Favorites</a></li>
  <li><a href="/logout">Log Out</a></li>
</ul>

<div class="catprofile">
  <img class="profilepic" src= <%= res.locals.searchresults.pets[res.locals.current_index]["image"] %> >

  <br>

  <p class="profilename"><%= res.locals.searchresults.pets[res.locals.current_index]["name"] %></p>

  <br>

  <% next = parseInt(res.locals.current_index) + 1 %>

  <% if (next === res.locals.searchresults.pets.length) { %>
    <a class="button" href="/cats/<%=res.locals.zip%>/<%=next%>">Morrreeee</a>
  <% } else { %>
    <a class="button" href="/cats/<%=res.locals.zip%>/<%=next%>">Next</a>
  <% } %>

  <br><br>
  <%= res.locals.current_index %>
  <%= res.locals.searchresults.pets.length %>

  SEND ME TO THE MORE
  <%= res.locals.searchresults.offset %>
  <%= res.locals.zip %>
</div>
